## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv('WeatherPy_vacation.csv')
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Bluff,NZ,72.81,light rain,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,4,Mar Del Plata,AR,72.09,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
2,5,Kendari,ID,87.84,scattered clouds,-3.9450,122.4989,Hotel Wixel
3,7,Bandarbeyla,SO,74.41,clear sky,9.4942,50.8122,JABIR HOTEL
4,8,Itarema,BR,78.62,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [3]:
vacation_df.count()

City_ID                242
City                   242
Country                242
Max Temp               242
Current Description    242
Lat                    242
Lng                    242
Hotel Name             226
dtype: int64

In [4]:
clean_hotel_df = vacation_df.dropna()
clean_hotel_df.count()

City_ID                226
City                   226
Country                226
Max Temp               226
Current Description    226
Lat                    226
Lng                    226
Hotel Name             226
dtype: int64

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<strong>City</strong><br>
</dt>{City}<br>
<strong>Country</strong><br>
</dt>{Country}<br>
<strong>Current Weather</strong><br>
</dt>{Max Temp} °F, </dt>      </dt>{Current Description}<br>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=100, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 4b. Display the figure
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = "Esperance"
vacation_end= "Esperance"
stop1 = "Carnarvon"
stop2 = "Geraldton"
stop3 = "Busselton"
vacation_start = vacation_df.loc[vacation_df['City'] ==vacation_start]
vacation_end = vacation_df.loc[vacation_df['City'] == vacation_end]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == stop1]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == stop2] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == stop3]

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_route = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3])
fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Esperance,AU,73.24,overcast clouds,-33.8667,121.9000,Hospitality Esperance
1,180,Carnarvon,AU,80.67,clear sky,-24.8667,113.6333,Hospitality Carnarvon
2,400,Geraldton,AU,77.41,clear sky,-28.7667,114.6000,Broadwater Mariner Resort
3,34,Busselton,AU,72.09,clear sky,-33.6500,115.3333,Observatory Guest House

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<strong>Hotel Name</strong><br>
</dt>{Hotel Name}<br>
<strong>Country</strong><br>
</dt>{Country}<br>
<strong>City</strong><br>
</dt>{City}<br>
<strong>Max Temp</strong><br>
</dt>{Max Temp} °F<br>
<strong>Current Description</strong><br>
</dt>{Current Description}
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))