In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into the Dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2022-01-03 01:29:41,38.5167,-28.7000,57.27,85,100,24.16
1,1,Hammond,US,2022-01-03 01:37:34,41.5834,-87.5000,25.21,83,90,0.00
2,2,Flagstaff,US,2022-01-03 01:37:36,35.1981,-111.6513,31.66,60,1,5.75
3,3,Port Alfred,ZA,2022-01-03 01:38:41,-33.5906,26.8910,63.59,79,58,3.27
4,4,Calamar,CO,2022-01-03 01:38:42,10.2511,-74.9146,80.55,68,2,6.20
5,5,Kapaa,US,2022-01-03 01:38:42,22.0752,-159.3190,78.78,73,1,1.99
6,6,Airai,TL,2022-01-03 01:34:58,-8.9266,125.4092,72.95,69,76,1.95
7,7,Provideniya,RU,2022-01-03 01:38:42,64.3833,-173.3000,13.93,97,99,1.16
8,8,Caravelas,BR,2022-01-03 01:36:25,-17.7125,-39.2481,73.65,92,100,5.17
9,9,Avarua,CK,2022-01-03 01:36:30,-21.2078,-159.7750,82.45,74,20,18.41
10,10,Khatanga,RU,2022-01-03 01:38:43,71.9667,102.5000,-50.98,99,77,3.40
11,11,Kontagora,NG,2022-01-03 01:38:43,10.3999,5.4695,69.94,25,38,8.08
12,12,Norman Wells,CA,2022-01-03 01:29:45,65.2820,-126.8329,-29.16,68,75,12.66
13,13,Utete,TZ,2022-01-03 01:38:44,-7.9860,38.7580,74.21,98,73,1.43
14,14,Sainte-Maxime,FR,2022-01-03 01:38:45,43.3000,6.6333,53.96,68,88,5.21
15,15,Puerto Ayora,EC,2022-01-03 01:38:45,-0.7393,-90.3518,69.80,86,100,5.95
16,16,Albany,US,2022-01-03 01:25:00,42.6001,-73.9662,31.08,85,97,11.99
17,17,New Milford,US,2022-01-03 01:38:46,40.9327,-74.0179,42.94,75,1,4.00
18,18,La Libertad,EC,2022-01-03 01:38:46,-2.2333,-80.9000,72.84,79,100,7.05
19,19,Vila Velha,BR,2022-01-03 01:35:00,-20.3297,-40.2925,76.95,91,40,4.00
20,20,San Patricio,US,2022-01-03 01:36:34,28.0170,-97.5169,49.86,33,0,10.94
21,21,Jamestown,US,2022-01-03 01:31:33,42.0970,-79.2353,26.10,69,90,5.01
22,22,Butaritari,KI,2022-01-03 01:29:48,3.0707,172.7902,81.05,66,100,11.43
23,23,Buin,CL,2022-01-03 01:38:48,-33.7333,-70.7500,75.74,60,18,2.33
24,24,Zhigansk,RU,2022-01-03 01:38:48,66.7697,123.3711,-50.48,99,64,5.44
25,25,Sampit,ID,2022-01-03 01:38:49,-2.5333,112.9500,82.26,75,100,3.80
26,26,Dikson,RU,2022-01-03 01:38:50,73.5069,80.5464,-40.45,94,74,7.54
27,27,Bethel,US,2022-01-03 01:36:30,41.3712,-73.4140,40.93,82,90,1.01
28,28,Ushuaia,AR,2022-01-03 01:31:30,-54.8000,-68.3000,40.66,56,75,28.77
29,29,Lebu,CL,2022-01-03 01:38:51,-37.6167,-73.6500,59.09,96,42,8.25
30,30,Tiksi,RU,2022-01-03 01:38:52,71.6872,128.8694,-32.60,100,89,2.71
31,31,Cidreira,BR,2022-01-03 01:38:52,-30.1811,-50.2056,73.53,95,82,16.84
32,32,Hobart,AU,2022-01-03 01:38:53,-42.8794,147.3294,70.02,66,75,9.22
33,33,Carnarvon,AU,2022-01-03 01:38:54,-24.8667,113.6333,78.87,73,90,16.11
34,34,Shenjiamen,CN,2022-01-03 01:38:54,29.9576,122.2980,50.72,68,0,3.89
35,35,Valparaiso,CL,2022-01-03 01:38:55,-33.0393,-71.6273,65.84,63,0,0.00
36,36,Shamary,RU,2022-01-03 01:38:55,57.3434,58.2199,23.18,94,100,7.87
37,37,Punta Arenas,CL,2022-01-03 01:28:41,-53.1500,-70.9167,44.71,57,75,23.02
38,38,Bandarbeyla,SO,2022-01-03 01:38:56,9.4942,50.8122,75.20,78,27,5.99
39,39,Northam,GB,2022-01-03 01:38:57,51.0333,-4.2167,52.02,90,15,24.00
40,40,Bredasdorp,ZA,2022-01-03 01:36:26,-34.5322,20.0403,54.72,88,100,3.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=500, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=500, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=500, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Calamar,CO,2022-01-03 01:38:42,10.2511,-74.9146,80.55,68,2,6.20
5,5,Kapaa,US,2022-01-03 01:38:42,22.0752,-159.3190,78.78,73,1,1.99
6,6,Airai,TL,2022-01-03 01:34:58,-8.9266,125.4092,72.95,69,76,1.95
8,8,Caravelas,BR,2022-01-03 01:36:25,-17.7125,-39.2481,73.65,92,100,5.17
9,9,Avarua,CK,2022-01-03 01:36:30,-21.2078,-159.7750,82.45,74,20,18.41

In [12]:
preferred_cities_df.count()

City_ID       15
City          15
Country       15
Date          15
Lat           15
Lng           15
Max Temp      15
Humidity      15
Cloudiness    15
Wind Speed    15
dtype: int64

In [13]:
# Make a copy of the preffered_cities_df and name it hotel_df
# Create DataFrame called hotel_df to store hotel nbames along with city, country, max tem, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp","Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4       Calamar      CO     80.55  10.2511  -74.9146
5         Kapaa      US     78.78  22.0752 -159.3190
6         Airai      TL     72.95  -8.9266  125.4092
8     Caravelas      BR     73.65 -17.7125  -39.2481
9        Avarua      CK     82.45 -21.2078 -159.7750
13        Utete      TZ     74.21  -7.9860   38.7580
18  La Libertad      EC     72.84  -2.2333  -80.9000
19   Vila Velha      BR     76.95 -20.3297  -40.2925
22   Butaritari      KI     81.05   3.0707  172.7902
23         Buin      CL     75.74 -33.7333  -70.7500

In [14]:
# Set the parameters(condition) to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from results and store name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Calamar,CO,80.55,10.2511,-74.9146,Hostal Katyalex
5,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Airai,TL,72.95,-8.9266,125.4092,
8,Caravelas,BR,73.65,-17.7125,-39.2481,Pousada dos Navegantes
9,Avarua,CK,82.45,-21.2078,-159.7750,Paradise Inn
13,Utete,TZ,74.21,-7.9860,38.7580,River View Lodge
18,La Libertad,EC,72.84,-2.2333,-80.9000,Playa Canela Hotel Boutique
19,Vila Velha,BR,76.95,-20.3297,-40.2925,Quality Suites Vila Velha
22,Butaritari,KI,81.05,3.0707,172.7902,Isles Sunset Lodge
23,Buin,CL,75.74,-33.7333,-70.7500,Paihuen
25,Sampit,ID,82.26,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
31,Cidreira,BR,73.53,-30.1811,-50.2056,Hotel Castelo
32,Hobart,AU,70.02,-42.8794,147.3294,Mantra on Collins Hobart
33,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
38,Bandarbeyla,SO,75.20,9.4942,50.8122,JABIR HOTEL

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City/dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))